.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 30px;
    &_left{
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        line-height: 36px;
    }
}